<h2>All Todos</h2>

<ul>
  <% @todos.each do |todo| %>
    <li>
      <%= format_date(todo.duedate) %>
      <br/>
      <%= todo.title %>
      <br/>
      <%= link_to 'Show', todo_path(todo) %>
      <%= link_to 'Edit', edit_todo_path(todo) %>

    </li>
  <% end %>
</ul>
