<% if logged_in? %>
  <%= link_to 'Create New Todo', new_todo_path %>
  <%= link_to 'Create New Category', new_category_path %>

  <h2>All Todos</h2>

  <% if current_user.categories.any? %>
    <strong>Categories:</strong>
    <% current_user.categories.each do |category| %>
      <%= link_to category.name, category_path(category) %>
    <% end %>
  <% end %>

  <%= render 'shared/todo_list' %>
<% end %>
