<h2>All Todos</h2>

<%= link_to 'Create New Todo', new_todo_path %>

<ul>
  <% @incomplete.each do |todo| %>
    <%= render 'todo_list', todo: todo %>
  <% end %>

  <% @complete.each do |todo| %>
    <%= render 'todo_list', todo: todo %>
  <% end %>
</ul>
