<h2><%= @category.name %></h2>

<strong>Categories:</strong>
<% current_user.categories.each do |category| %>
  <%= link_to category.name, category_path(category) %>
<% end %>

<%= render 'shared/todo_list' %>
